# editor tools
.idea

# environment
.env
mongo
mysql

# dependencies
node_modules
package-lock.json
yarn-error.log

# shipit deployment
shipit/config
shipit/workspace

# test
coverage
artifacts

# logging
logs/*

# development workflow 
.bundle
vendor

# DS_STORE
*/.DS_Store